*{
    color:white;
    font-family: "Lato",sans-serif;
    text-align: center;
}
html {
    overflow-x: hidden;
    overflow-y: hidden;
}
h1 {
    text-align: center;
    margin-top:35px;
}
html{
    height:100%;
    width:100%;
}
body{
    height: 100%;
    width: 100%;
    margin:none;
    background: #fff url(img/backgroundpic.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.form-horizontal i{
    color: #000;
}
.form-control {
    width:100%;
}
.col-sm-12 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.7);
    padding:0px 25px;
}
.form-group-2 {
    margin:none;
}
.form-group {
    margin:12px;
}
.glyphicon {
    color:black;
    font-size: 19px;
}
.form-horizontal{
    margin-bottom: 50px;
}
.form-horizontal .form-group .form-control::-webkit-input-placeholder {
 text-align: center;
 color:#a9a9a9;
}
.form-horizontal .form-group .form-control:-ms-input-placeholder {
    text-align: center;
    color:#a9a9a9;
}
.col-sm-4{
    background: rgba(140,120,115,0.8);
    height:100%;
    width:300px;
    text-align: left;
    padding:none;
}
#map {
    height: 100%;
}
#floating-panel {
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: rgba(140,120,115,0.8);
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
@media (min-width:768px){
    h1{
        font-size: 60px;
    }
    p{
        font-size: 25px;
    }
}
@media (max-width:767px){
    h1{
        font-size: 44px;
    }
    p{
        font-size: 19px;
    }
}
